body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

section {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  div.area-inside {
    border: 1px dashed #393939;
    width: 50%;
  }
}

h1 {
  color: #5a5a5a;
}
P {
  color: #555;
}
form {
  margin: 1rem 1rem;
}

input {
  padding: 1rem;
  margin: 1rem;
}

#guessField {
  width: 3rem;
}

#guessSubmit,
#finalAnswer,
#playAgain {
  background-color: #afafaf;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
#guessSubmit:hover,
#finalAnswer:hover,
#playAgain:hover {
  background-color: #393939;
}
.message {
  font-weight: bold;
}

.finalMessage {
  font-weight: bold;
  font-size: 2rem;
  color: #841919;
}
.second {
  color: #555;
  font-size: 2rem;
  font-style: italic;
}
